.contenedor_negocio{
	width:248px;
	height:214px;
	float:left;
	border:2px solid #707173;
	margin-bottom:17px;
	}
.margen_derecho_20_direc{
	height:232px;
	width:19.5px;
	float:left;
	}
.contenedor_imagen_negocio{
	width:127px;
	height:107px;
	float:left;
	}
.contenedor_nombre_negocio{
    width:110px;
	height:107px;
	padding:5px;
	float:left;
	font-size:12px;
	text-align: left;
    text-indent: 0px;
    hyphens: manual;
}
.contenedor_descripcion_negocio{
	margin-top:107px;
	padding:5px;
	width:240px;
	height:100px;
	}
.ver_mas_negocio{
	width:245px; 
	height:23px; 
	background-image:url(../images/ver_mas_negocio.png);
	background-repeat:no-repeat;  
	position: absolute; 
	text-align:right;
	padding-right:5px;
	color:#6D398B;
	font-weight:bold;
	margin-top:-26px;
	}
.ver_mas_negocio li:hover{
	cursor:pointer;
	font-size:16px;}
	
.contenedor_buscador {
width: 100%;
margin: 0px auto;
height: 32px;
background-color: #762EA4;
margin-bottom: 15px;
text-align: center;
}
.fondo_select_directorio{
	height:28px;
	margin-top:-5px;
	width:160px;
	background-image:url(../images/select.png);
	background-repeat:no-repeat;
	display:inline-block;
	margin-left:180px;
	padding-top:5px;
	}
	
.estilo_select_directorio{
	background: transparent;
	-webkit-appearance: none;
	height:32px;
	width:150px;
	border:none;
	border-radius: 10px;
    font-family:"select";
	font-size:20px;
	color:#FFFFFF;
	padding-left:5px;
	outline: none;
	line-height:1em;
	}
.contenedor_buscar_directorio{
	background-image:url(../images/buscar.png);
	height:28px;
	width:160px;
	display:inline-block;
	margin-left:180px;
	vertical-align:middle;
	line-height: 1em;
    padding-top: 3px;
    background-repeat: no-repeat;
	}
.buscar_directorio{
	background: transparent;
	outline: none;
	border:none;
	font-family:"select";
	font-size:20px;
	color:#FFFFFF;
	margin-top:-5px;
	margin-left:10px;
	display:inline-block;
	}
.contenedor_anunciar_negocio{
	width:320px;
	height:60px;
	float: right;
	margin-top:-5px;
	margin-right:10px;
	border-left:5px solid #FFB608;
	}
.contenedor_anunciar_negocio:hover{
	cursor:pointer;}
	
.titulo_anunciate{
	margin-top:10px;
	font-size:33px;
	color:#FFB608;
	margin-left:15px;
	float: left;
	width:150px;
	line-height:32px;
	height:30px;
	}
.descripcion_anunciar_negocio{
	font-family: 'miFuente'; !important
	color:#FFB608;
	font-size:20px; !important
	margin-left:15px;
	width:210px;
	line-height:20px;!important
	max-height:20px;
	padding-left:15px;
	margin-top:40px;
	color:#FFB608;
	text-align:left;!important
	text-indent: -100px;
	}
.el_click{
	width:100px;
	height:70px;
	margin-top:-60px;
	float:right;}
	
.aqui_crear_anuncio_negocio li{
	width:53px;
	height:235px;
	background-image: url(../images/publicar_dos.png);
	}
.aqui_crear_anuncio_negocio li:hover{
	background-image: url(../images/publicar.png);
	cursor:pointer;
	}
.seccion_derecha_paquetes_negocio{
	float: left;
	margin-top:10px;
	padding-left:20px;
	width:53px;
	}
.contenedor_checkbox{
	font-size:15px;
	width:260px; 
	height:150px;  
	display:inline-block; 
	margin-top:70px; 
	margin-left:15px;
	}
.perrito_uno{
	margin-top:70px;
	margin-left:40px;}
.morado_directorio li{
	margin-left:690px;
	width:134px;
	height:42px;
	color:#FFFFFF;
	background-image:url(../images/boton_redondo.png);
	background-repeat:no-repeat;
	text-align:center;
	padding-top:10px;}
	
.morado_directorio li:hover{
	background-image:url(../images/boton_redondo_over.png);
	color:#762EA4;
	cursor:pointer;
	}
	
.leer_anuncio_directorio {
width: 657px;
min-height: 660px;
border: 5px solid #DED9D5;
background-color: #FFF;
margin: 0 auto;
margin-top: 5px;
padding: 10px;
}
.contenedor_cerrar_anuncio_negocio{
	width:692px;
	height:66px;
	margin:0px auto;
	text-align:right;
	}
.mapa_negocio{
	width:350px;
	height:300px;
	background-color:#996600;}
	
.contactar_al_aunuciante_negocio{
	width:427px;
	padding:10px;
	height:540px;
	border: 5px solid #DED9D5;
	background-color:#FFF;
	margin:0 auto;
	}
.contenedor_cerrar_contactar_negocio{
	width:459px;
	height:66px;
	margin: 0 auto;
	text-align:right;
	}
.morado_sin_margen li{
	margin-left:700px;
	width:134px;
	height:42px;
	color:#FFFFFF;
	background-image:url(../images/boton_redondo.png);
	background-repeat:no-repeat;
	text-align:center;
	padding-top:10px;}
	
.morado_sin_margen li:hover{
	background-image:url(../images/boton_redondo_over.png);
	color:#762EA4;
	cursor:pointer;
	}
	
/* MINI*/

.contenido_directorio_mini{
	margin-top:15px;
	display:inline-block;
	width:252px;
	height:200px;
	border: 3px solid #DED9D5;
	-moz-border-radius: 15px; /* Firefox */
    -webkit-border-radius: 15px; /* Google Chrome y Safari */
    border-radius: 15px; /* CSS3 (Opera 10.5, IE 9 y estándar a ser soportado por todos los futuros navegadores) */
	}
.contenedor_logotipo_directorio_mini{
	width:252px;
	height:150px;
	padding-top:5px;
	text-align:center;
	}
.contenedor_nombre_empresa_mini{
	width:247px;
	height:40px;
	padding-left:5px;
	background-color:#762EA4;
	font-size:14px;
	font-family:'titulos';
	color:#FFFFFF;
	}
.contenedor_titulo_informcacion_mini{
width: 99%;
height: 28px;
padding-top: 9px;
padding-left: 5px;
background-color: #9C9E9F;
color: #762EA4;
margin-top: 15px;
text-align: center;
font-size: 14px;
font-family: 'titulos';
	}
.contenedor_informacion_mini{
	width:250px;
	height:150px;
	padding:5px;
	font-size:12px;
	}
.contenedor_descripcion_detalle_mini{
	display:inline-block;
	margin-top:15px;
	width:342px;
	height:216px;
	font-size:12px;
	}
.contenedor_del_mapa_mini{
	background-color:#999999;
	display:inline-block;
	margin-top:15px;
	width:294px;
	height:216px;
	margin-left:10px;
	margin-right:10px;
	}
.contenedor_horarios_mini{
	display:inline-block;
	margin-top:15px;
	width:120px;
	height:210px;
	font-size:12px;
	border: 3px solid #DED9D5;
	-moz-border-radius: 15px; /* Firefox */
    -webkit-border-radius: 15px; /* Google Chrome y Safari */
    border-radius: 15px; /* CSS3 (Opera 10.5, IE 9 y estándar a ser soportado por todos los futuros navegadores) */
	}
.contenedor_datos_horario_mini{
	width:113px;
	padding:5px;
	}
.contenedor_total_directorio_mini{
	margin:3px 22px auto;
	width:844px;}
.boton_morado{
	margin-top:10px;}
.boton_morado_mini li{
	padding:5px;
	height:14px;
	background-color:#762EA4;
	text-align:center;
	width:84px;
	color:#FFF;
	box-shadow: 2px 2px 7px #999;
	list-style:none;
	font-size:11px;
	}
.boton_morado_mini li:hover{
	color:#762EA4;
	background-color:#FFF;
	cursor:pointer;
	}