.aqui_crear_anuncio_eventos li {
width: 53px;
height: 235px;
background-image: url(../images/publica_evento.png);
}
.aqui_crear_anuncio_eventos li:hover {
background-image: url(../images/publica_evento_hover.png);
cursor: pointer;
}
.contenedor_evento{
	width:790px;
	height:174px;
	border: 1px solid #707173;
	margin-top:25px;
	}
.contenedor_imagen_evento{
	width:127px;
	height:174px;
	display:inline-block;
	}
.contenedor_fecha_evento{
	width:68px;
	height:77px;
	background-color:#D40050;
	border: 1px solid #FFF;
	position:absolute;
	margin-left:5px;
	margin-top:-25px;
	text-align:center;
	color:#FFFFFF;
	}
.contenedor_fecha_evento_detalle{	
width: 59px;
height: 66px;
background-color: #D40050;
border: 1px solid #FFF;
position: absolute;
margin-left: -17px;
margin-top: -58px;
text-align: center;
color: #FFFFFF;

	}
.dia{
	font-size:28px;
	margin-top:10px;
	}
.mes{
	font-size:12px;}
.titulo_evento_mes{
	display: inline-block;
	width:659px;
	font-weight:bolder;
	font-size:19px;
	}
.contenido_evento{
	display:inline-block;
	width:649px;
	padding:5px;
	position:absolute;
	}
.ver_mas_evento{
	width:382px;
	height:23px;
	background-image:url(../images/ver_mas_evento.png);
	background-repeat:no-repeat;
	position:absolute;
	margin-top: -23px;
    margin-left: 408px;
	text-align:right;
	font-weight:bolder;
}
.ver_mas_evento:hover{
	font-size:14px;
	cursor:pointer;
	}
.morado_directorio li{
	margin-left:690px;
	width:134px;
	height:42px;
	color:#FFFFFF;
	background-image:url(../images/boton_redondo.png);
	background-repeat:no-repeat;
	text-align:center;
	padding-top:10px;}
	
.morado_directorio li:hover{
	background-image:url(../images/boton_redondo_over.png);
	color:#762EA4;
	cursor:pointer;
	}
.contenedor_de_anuncio_eveto{
	display:inline-block;
    margin-top: 78px;
    width: 238px;
    height: 370px;
    margin-left: 18px;
	float:left;
	margin-right:15px;}
.contender_texto_descripcion{
	margin-left:10px;
	margin-top: 78px;
	display:inline-block;
	width:302px;
	height:365px;
	}
.contenedor_eventos_proxsimos{
	margin-top:20px;
	display:inline-block;
	width: 203px;
	height:609px;
	border-left: 3px solid #707173;
	margin-left:10px;
	overflow-y:auto;
	position:absolute;
	 }
.evento_proximo{
	width:189px;
	height:115px;
	border:1px solid #707173;
	margin-left:12px;
	margin-left: 12px;
    margin-top: 16px;
	}
.contenedor_evento_proxi_mini{
	display:inline-block;
	width:83px;
	height:113px;
	}
.contenedor_nombre_evento_mini{
-moz-hyphens:auto;
 -ms-hyphens:auto;
 -webkit-hyphens:auto;
 -o-hyphens:auto;
 hyphens:auto;
 word-wrap:break-word;
	display:inline-block;
	width:101px;
	height:115px;
	text-transform:uppercase;
	font-size:12px;
	font-weight:bolder;}
.ver_mas_mini{
	width:99px;
	height:15px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	background-color:#F7D9D9;
	font-size:9px;
	font-weight:bolder;
	text-align:right;
	padding-right:5px;
	margin-left: 84px;
    margin-top: -15px;
}
.ver_mas_mini:hover{
	font-size:10px;
	cursor:pointer;
	}
.fecha_mini{
	width:45px;
	height:50px;
	background-color: #D40050;
    border: 1px solid #FFF;
    position: absolute;
	margin-top: -17px;
    margin-left: 2px;
	text-align:center;
	color:#FFFFFF;
	}
.dia_mini{
	font-size:20px;
	margin-top:3px;
	}
.mes_mini{
	font-size:11px;}
.contenedor_total_detalle_evento{
	width:540px;
	min-height:500px;
	background-color:#999;}
.contenedor_texto_inferior{
	width:573px;
	margin-top:-364px;
	}
.recuadro_rosa{
	width:12px;
	height:12px;
	background-color:#D40050;
	display: inline-block;
    margin-top: 5px;
	}