
@font-face {
 font-family: 'miFuente';
 src: url('../fonts/GOTHIC.eot'); /* EOT file for IE */
}
@font-face {
 font-family: 'titulos';
 src: url('../fonts/scribbleboxquierounperro.com.eot'); /* EOT file for IE */
}

@font-face
{
 font-family: 'select';
 src: url('../fonts/Gabriola.eot');/* EOT file for IE */
}

@font-face
{
 font-family: 'subtitulos';
 src: url('../fonts/aredbucket.eot');/* EOT file for IE */
}

@font-face
{
 font-family: 'miFuente';
 src: url('../fonts/Gothic.ttf');
}



@font-face
{
 font-family: 'titulos';
 src: url('../fonts/scribbleboxquierounperro.com.ttf');
}

@font-face
{
 font-family: 'select';
 src: url('../fonts/Gabriola.ttf');
}

@font-face
{
 font-family: 'subtitulos';
 src: url('../fonts/aredbucket.ttf');
}

body{
	font-size:15px;
	font-family:"miFuente";
	}
.contenedor_central_superior{
	min-width:990px;
	max-width:990px;
	width:990px;
	min-height:93px;
	max-height:93px;
	height:93px;
	margin: 0 auto;
	padding-bottom:5px;}

.contenido_superior{
	float:left;
	margin:0px;
	padding:0px;}
	#mini_menu{

	margin-top:10 px; 
	position: fixed; 
	z-index:2500; 
	width:100%; 
	display:none;
	}
.menu_principal{
	width:100%;
    height:40px;
	background-color:#7DA615;
	}
.contenedor_menu_principal{
	width:990px;
	margin: 0 auto;
	}
.principal li{
    float:left;
	margin-right:10px;
	text-align:center;
	padding-top:10px;
	text-decoration:none;
	list-style:none;
	color:#FFF;
	font-size:18px;
	font-family:"miFuente";
	border-right:2px solid #FFF;
	padding-right:5px;
	}
.principal li a {
	color:#FFF;
	text-decoration:none;}
.principal li:hover {
	padding:10px;
	background-color:#762EA4;
	cursor:hand;
	}
 .ui-effects-transfer {
    border: none;
	background-color:#7DA615;
  }
.iconos_ocultos {
	height:500px;
	float:left; 
	margin-top:200px; 
	margin-left:0px; 
	position:fixed; 
	display:none
	}
.iconos_estatus li{
	 min-height:68px; 
	 height:68px; 
	 max-height:68px; 
	 }
.iconos_estatus li:hover{
	 cursor: pointer;
	 }
.iconos_flotantes{
	float:left;
	margin-left:0px;
 }
.iconos_flotantes2{
	float:left;
	margin-left:0px;
	margin-top:10px;
	position:absolute;
 }
.seccion_izquierda{
	float: left;
	margin-top:25px;
	margin-right:10px;
	width: 100px;
	/*border: 1px solid #000;
	*/
	}
.seccion_izquierda_secciones{
	float: left;
	margin-right:10px;
	width: 100px;
	/*border: 1px solid #000;
	*/
	}
.seccion_derecha_paquetes{
	float: left;
	margin-top:0px;
	padding-left:20px;
	width:53px;
	
	}
.iconos li{
	margin-bottom:5px;
	}
.iconos li:hover{
	cursor: pointer;
	}

#contenedor_central{
	margin: 0 auto; 
	width: 990px;
	max-width:990px;
	padding: 0 10px;
	position: static;
	min-height:450px;

	}

.footer{
	position: static;
	margin: 0 auto;
	width:250px;
	height:42px;
	margin-top:30px;
	text-align:center;
	}
.pie_pagina{
	color:#FFF;
	font-size:12px;
	position: relative;
	margin: 0 auto;
	width:250px;
	height:20px;
	background-color:#762EA4;
	margin-bottom:25px;
	text-align:center;}
.division_final{

	width:100%;
	height:10px;
	background-color:#762EA4;}
.separacion_final{
	width:100%;
	height:15px;
	background-color:#7DA615;
	margin-top:600px;
	}
.contenido{
	background-color:#FFF;
	position:fixed;
	width:100%;
	margin:0px auto;
	z-index:5000;
	}
.division_menu_inferior{
	width:100%;
	height:8px;
	background-color:#7EA715;
	}
.contenedor_menu_inferior{
    margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
	position: absolute;
	text-align:center;
	width:600px;
	z-index:5;
	}
.menu_inferior{
	float:left;
	}
.menu_inferior li{
	width:180px;
	background-color:#7EA715;
	color:#FFF;
	margin: 0px auto;
	margin-left:15px;
	list-style:none;
	padding-top:5px;
	}
.menu_inferior li:hover{
	background-color:#762EA4;
	color:#ffffff;
	cursor:pointer;
	}
.menu_inferior li ul{
	width:180px;
	text-align:left;
display:none;
list-style:none;
margin-left:-15px;

}
.menu_inferior li:hover > ul {
display:block;
}
.aqui_crear_anuncio li{
	width:53px;
	height:235px;
	background-image: url(../images/publicar.png);
	}
.aqui_crear_anuncio li:hover{
	background-image: url(../images/publicar_dos.png);
	cursor:pointer;
	}

	input[type=submit]{
    color: #FFF;
    margin: 0;
    border: 0px none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 12px;
    padding: 0;
    cursor: pointer;
}

.morado_reg input[type=submit]:hover {
    color: #762EA4;
}

.boton_verde input[type=submit], .boton_verde a, .boton_verde a:visited{
    font-size: 12px!important;
    padding: 5px;
    text-decoration: none;
    color: #ffffff!important;
}
.boton_verde input[type=submit]:hover {
    color:#7EA715!important;
    background-color: transparent!important;
}
.boton_verde a:hover{
    margin: 0;
    padding: 0;
}
.boton_naranja_tres *{
    font-size: 11px!important;
}
.boton_naranja_tres *:hover{
    color:#FF7C00;
    }

/*flashes*/
.alert {
    display: block;
    padding: 10px 15px 10px;
}

.alert.alert-success {
    background-color: #DFF0D8;
    color:#3C763D;
}

.alert.alert-success .alert-link {
    color: #7EA715;
    text-decoration: none;
}

.alert.alert-error {
    background-color: #F2DEDE;
    color:#A94442;
}

.alert.alert-error .alert-link {
    color: #A94442;
    text-decoration: none;
}

.alert.alert-warning {
    background-color: #FCF8E3;
    color:#8a6d3b;
}

.alert.alert-warning .alert-link {
    color: #66512c;
    text-decoration: none;
}

/*loader*/
.spinner {
    margin: 0 auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #7DA615;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

/*placeholder */

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #FFF;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #FFF;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #FFF;
}
/*end placeholder */


	
input[type=radio].css-checkbox {
							display:none;
						}

						input[type=radio].css-checkbox + label.css-label {
							padding-left:29px;
							height:24px; 
							display:inline-block;
							line-height:24px;
							background-repeat:no-repeat;
							background-position: 0 0;
							cursor:pointer;
							margin-bottom:12px;

						}

						input[type=radio].css-checkbox:checked + label.css-label {
							background-position: 0 -24px;
						}
						label.css-label {
				background-image:url(../images/radios.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
.morado_reg li{
	margin-left:450px;
	width:134px;
	height:42px;
	color:#FFFFFF;
	background-image:url(../images/boton_redondo.png);
	background-repeat:no-repeat;
	text-align:center;
	}
	
.morado_reg li:hover{
	background-image:url(../images/boton_redondo_over.png);
	color:#762EA4;
	cursor:pointer;
	}
.indicadores{
	width:28px; 
	height:28px; 
	background-image:url(../images/indicador.png); 
	background-repeat:no-repeat; 
	position: absolute; 
	margin-top:76px; 
	margin-left:64px; 
	padding-top:5px; 
	color:#FFF; 
	text-align: center;
	}
.indicador{
	width:28px; 
	height:28px;  
	position: absolute; 
	margin-top:76px; 
	margin-left:64px; 
	color:#FFF; 
	text-align: center;
	}

.contenedor_negro{
   position: absolute;
   top: 0;
   left: 0;
   z-index: 50;
   width: 100%;
   height: 1600px;
   background-image:url(../images/fondotabla.png);
    position:fixed;
	z-index: 2510;
	}
.contenedor_publicidad{
	margin:0px auto;
	
    width: 840px;
    min-height: 500px;
    background-color: #FFF;
    border: 2px solid #762EA4;
    

	}
.titulo_publicidad{
	height: 110px;
    font-family: 'titulos';
    font-size: 63px;
    color: #762EA4;
    text-align: center;
    line-height: 1em;
    padding-top: 21px;
	}
.instrucciones{
	width: 830px;
    height: 44px;
    background-color: #762EA4;
    color: #FFFFFF;
    font-size: 23px;
    padding-left: 10px;
	}
.contenedor_perrito_instrucciones{
	width:852px;
	height:84px;
	color:#762EA4;
	text-align:center;
	font-size:24px;
	}

.instrucciones_perrito{
	display:inline-block;
	margin-top:24px;
	}
.instrucciones_perrito_soporte{
width: 689px;
display: inline-block;
margin-top: 24px;
font-size: 19px;
text-align: left;

	}
.input_bg_gris{
    color: #762EA4;
    background-color: #D9DADB;
    border: hidden;
	}
.tabla_contacto_publicidad{
	margin-left:15px;
	display:inline-block;
	}
.separador_morado_publicidad{
	width:4px;
	height:165px;
	background-color:#762EA4;
	display:inline-block;
	margin-left:15px;
	}
.morado_pub li{
	margin-left:698px;
	width:134px;
	height:42px;
	color:#FFFFFF;
	background-image:url(../images/boton_redondo.png);
	background-repeat:no-repeat;
	text-align:center;
	}
	
.morado_pub li:hover{
	background-image:url(../images/boton_redondo_over.png);
	color:#762EA4;
	cursor:pointer;
	}
.cerrar_publi{
	width: 848px;
    color: #FFF;
    margin: 0px auto;
    text-align: right;
	margin-top:30px;
	}
.tabla_soporte{
	margin-left:89px;
	}