.contenedor_slide_perro_mes{
	width:358px;
	height:439px;
	display:inline-block;
	}
.contenedor_descripcion{
	margin-left:7px;
	width:405px;
	height:409px;
	display:inline-block;
	padding-left:10px;
	padding-right:10px;
	}
.title_raza{
	font-family:'subtitulos';
	font-size:18px;
	color: #FFF;
	width:395px;
	height:25px;
	 line-height: 1.5em;
	 background-color:#87888A;
	 padding-left:10px;
	}
.title_raza_big{
	font-family:'subtitulos';
	font-size:48px;
	width:395px;
	 line-height: 1.5em;
	 color:#762EA4;
	 padding-left:10px;
	}
	
.title_raza_long{
	font-family:'subtitulos';
	font-size:18px;
	color: #FFF;
	width:100%;
	height:25px;
	 line-height: 1.5em;
	 background-color:#87888A;
	 padding-left:10px;
	}
.seccion_inferior{
	
	float: left;
	margin-top:15px;
	width: 193px;
	height:164px;
	max-width:241px;
	margin-left: 4px;
	margin-right:4px;
	box-shadow: 2px 2px 5px #999;
	margin-bottom:10px;

	}
.seccion_inferior_izquierda{
	float: left;
	margin-top:15px;
	margin-left:0px;
	width: 193px;
	height:164px;
	max-width:241px;
	margin-right:4px;
	box-shadow: 2px 2px 5px #999;
	margin-bottom:10px;

	}
.seccion_inferior_derecha{
	float: left;
	margin-top:15px;
	width: 193px;
	height:164px;
	max-width:241px;
	margin-left: 4px;
	box-shadow: 2px 2px 5px #999;
	margin-bottom:10px;

	}
.titulo_segunda_seccion {
font-family: 'subtitulos';
padding-top: 5px;
width: 100%;
height: 32px;
background-color: #6D398B;
font-size: 22px;
color: #FFF;
text-align: center;
}
.sub_imagenes_dos {
margin-top: 10px;
padding-top: 10px;
text-align: center;
}
.ver_mas {
width: 188px;
height: 23px;
background-image: url(../images/ver_mas.png);
margin-top: -20px;
position: absolute;
text-align: right;
padding-right: 5px;
color: #6D398B;
font-weight: bold;
}